<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?>
<target includeMode="feature" name="target-definition" sequenceNumber="1">
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="https://s3.amazonaws.com/esf-p2/ESF_7.2.1_latest/repository" />
      <unit id="bcpg" version="0.0.0"/>
      <unit id="bcpkix" version="0.0.0"/>
      <unit id="bcprov" version="0.0.0"/>
      <unit id="bctls" version="0.0.0"/>
      <unit id="bcutil" version="0.0.0"/>
      <unit id="bluez-dbus-osgi" version="0.0.0"/>
      <unit id="com.codeminders.hidapi" version="0.0.0"/>
      <unit id="com.eclipsesource.jaxrs.jersey-min" version="0.0.0"/>
      <unit id="com.eclipsesource.jaxrs.provider.gson" version="0.0.0"/>
      <unit id="com.eclipsesource.jaxrs.provider.multipart" version="0.0.0"/>
      <unit id="com.eclipsesource.jaxrs.provider.security" version="0.0.0"/>
      <unit id="com.eclipsesource.jaxrs.publisher" version="0.0.0"/>
      <unit id="com.eurotech.framework.activemq.artemis" version="0.0.0"/>
      <unit id="com.eurotech.framework.activity.ansible" version="0.0.0"/>
      <unit id="com.eurotech.framework.activity.api" version="0.0.0"/>
      <unit id="com.eurotech.framework.ansible.cloud" version="0.0.0"/>
      <unit id="com.eurotech.framework.ansible.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.cloudconnection.c8y.mqtt.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.codeminders.hidapi.aarch64" version="0.0.0"/>
      <unit id="com.eurotech.framework.codeminders.hidapi.armv5sf" version="0.0.0"/>
      <unit id="com.eurotech.framework.codeminders.hidapi.armv6hf" version="0.0.0"/>
      <unit id="com.eurotech.framework.codeminders.hidapi.x86_64" version="0.0.0"/>
      <unit id="com.eurotech.framework.container.security.manager" version="0.0.0"/>
      <unit id="com.eurotech.framework.core.cloud" version="0.0.0"/>
      <unit id="com.eurotech.framework.core.filesystem.watcher" version="0.0.0"/>
      <unit id="com.eurotech.framework.core.system" version="0.0.0"/>
      <unit id="com.eurotech.framework.diagnostics" version="0.0.0"/>
      <unit id="com.eurotech.framework.diagnostics.sigar" version="0.0.0"/>
      <unit id="com.eurotech.framework.diagnostics.sigar.aarch64" version="0.0.0"/>
      <unit id="com.eurotech.framework.diagnostics.sigar.armv5sf" version="0.0.0"/>
      <unit id="com.eurotech.framework.diagnostics.sigar.armv6hf" version="0.0.0"/>
      <unit id="com.eurotech.framework.diagnostics.sigar.x86_64" version="0.0.0"/>
      <unit id="com.eurotech.framework.download.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.driver.lora.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.gateway.resources.manager.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.jdk.dio.aarch64" version="0.0.0"/>
      <unit id="com.eurotech.framework.jdk.dio.armv5sf" version="0.0.0"/>
      <unit id="com.eurotech.framework.jdk.dio.armv6hf" version="0.0.0"/>
      <unit id="com.eurotech.framework.jdk.dio.x86_64" version="0.0.0"/>
      <unit id="com.eurotech.framework.json.marshaller.unmarshaller.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.linux.boltgate2025.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.linux.boltgate2031.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.linux.dynagate1006.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.linux.dynagate2030.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.linux.modem.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.linux.reliagate1012.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.linux.reliagate1014.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.linux.reliagate1020.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.linux.reliagate2025.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.linux.systemd.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.linux.sysv.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.linux.usb.aarch64" version="0.0.0"/>
      <unit id="com.eurotech.framework.linux.usb.armv5sf" version="0.0.0"/>
      <unit id="com.eurotech.framework.linux.usb.armv6hf" version="0.0.0"/>
      <unit id="com.eurotech.framework.linux.usb.x86_64" version="0.0.0"/>
      <unit id="com.eurotech.framework.localexecution" version="0.0.0"/>
      <unit id="com.eurotech.framework.log.api" version="0.0.0"/>
      <unit id="com.eurotech.framework.log.journald" version="0.0.0"/>
      <unit id="com.eurotech.framework.log.manager" version="0.0.0"/>
      <unit id="com.eurotech.framework.log.publisher" version="0.0.0"/>
      <unit id="com.eurotech.framework.net.vpn.client" version="0.0.0"/>
      <unit id="com.eurotech.framework.network.threat.manager" version="0.0.0"/>
      <unit id="com.eurotech.framework.protocol.serial" version="0.0.0"/>
      <unit id="com.eurotech.framework.protocol.serial.bg2025" version="0.0.0"/>
      <unit id="com.eurotech.framework.protocol.serial.dg2030" version="0.0.0"/>
      <unit id="com.eurotech.framework.protocol.serial.rg1012" version="0.0.0"/>
      <unit id="com.eurotech.framework.protocol.serial.rg1014" version="0.0.0"/>
      <unit id="com.eurotech.framework.protocol.serial.rg2025" version="0.0.0"/>
      <unit id="com.eurotech.framework.protocol.serial.rs485.rg1020" version="0.0.0"/>
      <unit id="com.eurotech.framework.reboot" version="0.0.0"/>
      <unit id="com.eurotech.framework.rest.configuration" version="0.0.0"/>
      <unit id="com.eurotech.framework.rest.deployment.agent" version="0.0.0"/>
      <unit id="com.eurotech.framework.security.aide" version="0.0.0"/>
      <unit id="com.eurotech.framework.security.certificatesmanager" version="0.0.0"/>
      <unit id="com.eurotech.framework.security.enrollment" version="0.0.0"/>
      <unit id="com.eurotech.framework.security.journald.fss" version="0.0.0"/>
      <unit id="com.eurotech.framework.security.manager" version="0.0.0"/>
      <unit id="com.eurotech.framework.security.policymanager" version="0.0.0"/>
      <unit id="com.eurotech.framework.shutdown.provider" version="0.0.0"/>
      <unit id="com.eurotech.framework.soda.dk.comm.aarch64" version="0.0.0"/>
      <unit id="com.eurotech.framework.soda.dk.comm.armv5sf" version="0.0.0"/>
      <unit id="com.eurotech.framework.soda.dk.comm.armv6hf" version="0.0.0"/>
      <unit id="com.eurotech.framework.soda.dk.comm.win32.x86" version="0.0.0"/>
      <unit id="com.eurotech.framework.soda.dk.comm.win32.x86_64" version="0.0.0"/>
      <unit id="com.eurotech.framework.soda.dk.comm.x86_64" version="0.0.0"/>
      <unit id="com.eurotech.framework.ups.dynapower" version="0.0.0"/>
      <unit id="com.eurotech.framework.usb4java" version="0.0.0"/>
      <unit id="com.eurotech.framework.usb4java.aarch64" version="0.0.0"/>
      <unit id="com.eurotech.framework.usb4java.armv5sf" version="0.0.0"/>
      <unit id="com.eurotech.framework.usb4java.armv6hf" version="0.0.0"/>
      <unit id="com.eurotech.framework.usb4java.win32.x86" version="0.0.0"/>
      <unit id="com.eurotech.framework.usb4java.win32.x86_64" version="0.0.0"/>
      <unit id="com.eurotech.framework.usb4java.x86_64" version="0.0.0"/>
      <unit id="com.eurotech.framework.windows.clock" version="0.0.0"/>
      <unit id="com.eurotech.framework.windows.command" version="0.0.0"/>
      <unit id="com.eurotech.framework.windows.position" version="0.0.0"/>
      <unit id="com.eurotech.framework.windows.system" version="0.0.0"/>
      <unit id="com.eurotech.gpsd4java" version="0.0.0"/>
      <unit id="com.eurotech.jscep" version="0.0.0"/>
      <unit id="com.google.gson" version="0.0.0"/>
      <unit id="com.google.guava" version="0.0.0"/>
      <unit id="com.google.protobuf" version="0.0.0"/>
      <unit id="com.gwt.user" version="0.0.0"/>
      <unit id="com.h2database" version="0.0.0"/>
      <unit id="com.sun.jna" version="0.0.0"/>
      <unit id="io.netty.buffer" version="0.0.0"/>
      <unit id="io.netty.codec" version="0.0.0"/>
      <unit id="io.netty.codec-http" version="0.0.0"/>
      <unit id="io.netty.codec-mqtt" version="0.0.0"/>
      <unit id="io.netty.common" version="0.0.0"/>
      <unit id="io.netty.handler" version="0.0.0"/>
      <unit id="io.netty.resolver" version="0.0.0"/>
      <unit id="io.netty.transport" version="0.0.0"/>
      <unit id="io.netty.transport-native-epoll" version="0.0.0"/>
      <unit id="io.netty.transport-native-kqueue" version="0.0.0"/>
      <unit id="io.netty.transport-native-unix-common" version="0.0.0"/>
      <unit id="jakarta.activation-api" version="0.0.0"/>
      <unit id="jakarta.xml.bind-api" version="0.0.0"/>
      <unit id="jakarta.xml.soap-api" version="0.0.0"/>
      <unit id="jakarta.xml.ws-api" version="0.0.0"/>
      <unit id="javax.comm" version="0.0.0"/>
      <unit id="javax.comm.aarch64" version="0.0.0"/>
      <unit id="javax.comm.armv5sf" version="0.0.0"/>
      <unit id="javax.comm.armv6hf" version="0.0.0"/>
      <unit id="javax.comm.win32.x86" version="0.0.0"/>
      <unit id="javax.comm.win32.x86_64" version="0.0.0"/>
      <unit id="javax.comm.x86_64" version="0.0.0"/>
      <unit id="javax.el" version="0.0.0"/>
      <unit id="javax.servlet" version="0.0.0"/>
      <unit id="javax.servlet.jsp" version="0.0.0"/>
      <unit id="jcl.over.slf4j" version="0.0.0"/>
      <unit id="jdk.dio" version="0.0.0"/>
      <unit id="log4j-systemd-journal-appender" version="0.0.0"/>
      <unit id="minimal-json" version="0.0.0"/>
      <unit id="moquette-broker" version="0.0.0"/>
      <unit id="org.apache.activemq.artemis-mqtt-protocol" version="0.0.0"/>
      <unit id="org.apache.activemq.artemis-native" version="0.0.0"/>
      <unit id="org.apache.camel.camel-amqp" version="0.0.0"/>
      <unit id="org.apache.camel.camel-core" version="0.0.0"/>
      <unit id="org.apache.camel.camel-core-osgi" version="0.0.0"/>
      <unit id="org.apache.camel.camel-jms" version="0.0.0"/>
      <unit id="org.apache.camel.camel-script" version="0.0.0"/>
      <unit id="org.apache.camel.camel-stream" version="0.0.0"/>
      <unit id="org.apache.commons.beanutils" version="0.0.0"/>
      <unit id="org.apache.commons.collections" version="0.0.0"/>
      <unit id="org.apache.commons.commons-codec" version="0.0.0"/>
      <unit id="org.apache.commons.commons-io" version="0.0.0"/>
      <unit id="org.apache.commons.commons-net" version="0.0.0"/>
      <unit id="org.apache.commons.csv" version="0.0.0"/>
      <unit id="org.apache.commons.exec" version="0.0.0"/>
      <unit id="org.apache.commons.fileupload" version="0.0.0"/>
      <unit id="org.apache.commons.lang3" version="0.0.0"/>
      <unit id="org.apache.felix.dependencymanager" version="0.0.0"/>
      <unit id="org.apache.felix.deploymentadmin" version="0.0.0"/>
      <unit id="org.apache.felix.gogo.command" version="0.0.0"/>
      <unit id="org.apache.felix.gogo.runtime" version="0.0.0"/>
      <unit id="org.apache.felix.gogo.shell" version="0.0.0"/>
      <unit id="org.apache.felix.scr" version="0.0.0"/>
      <unit id="org.apache.felix.useradmin" version="0.0.0"/>
      <unit id="org.apache.geronimo.specs.geronimo-jms_2.0_spec" version="0.0.0"/>
      <unit id="org.apache.geronimo.specs.geronimo-json_1.0_spec" version="0.0.0"/>
      <unit id="org.apache.geronimo.specs.geronimo-jta_1.1_spec" version="0.0.0"/>
      <unit id="org.apache.log4j2-api-config" version="0.0.0"/>
      <unit id="org.apache.logging.log4j.api" version="0.0.0"/>
      <unit id="org.apache.logging.log4j.core" version="0.0.0"/>
      <unit id="org.apache.logging.log4j.slf4j-impl" version="0.0.0"/>
      <unit id="org.apache.qpid.jms.client" version="0.0.0"/>
      <unit id="org.apache.qpid.proton-j" version="0.0.0"/>
      <unit id="org.apache.servicemix.bundles.jcip-annotations" version="0.0.0"/>
      <unit id="org.apache.servicemix.bundles.spring-beans" version="0.0.0"/>
      <unit id="org.apache.servicemix.bundles.spring-context" version="0.0.0"/>
      <unit id="org.apache.servicemix.bundles.spring-core" version="0.0.0"/>
      <unit id="org.apache.servicemix.bundles.spring-expression" version="0.0.0"/>
      <unit id="org.apache.servicemix.bundles.spring-jms" version="0.0.0"/>
      <unit id="org.apache.servicemix.bundles.spring-tx" version="0.0.0"/>
      <unit id="org.eclipse.core.contenttype" version="0.0.0"/>
      <unit id="org.eclipse.core.expressions" version="0.0.0"/>
      <unit id="org.eclipse.core.jobs" version="0.0.0"/>
      <unit id="org.eclipse.core.runtime" version="0.0.0"/>
      <unit id="org.eclipse.core.variables" version="0.0.0"/>
      <unit id="org.eclipse.equinox.app" version="0.0.0"/>
      <unit id="org.eclipse.equinox.bidi" version="0.0.0"/>
      <unit id="org.eclipse.equinox.cm" version="0.0.0"/>
      <unit id="org.eclipse.equinox.common" version="0.0.0"/>
      <unit id="org.eclipse.equinox.concurrent" version="0.0.0"/>
      <unit id="org.eclipse.equinox.console" version="0.0.0"/>
      <unit id="org.eclipse.equinox.console.jaas.fragment" version="0.0.0"/>
      <unit id="org.eclipse.equinox.coordinator" version="0.0.0"/>
      <unit id="org.eclipse.equinox.device" version="0.0.0"/>
      <unit id="org.eclipse.equinox.ds" version="0.0.0"/>
      <unit id="org.eclipse.equinox.event" version="0.0.0"/>
      <unit id="org.eclipse.equinox.frameworkadmin" version="0.0.0"/>
      <unit id="org.eclipse.equinox.frameworkadmin.equinox" version="0.0.0"/>
      <unit id="org.eclipse.equinox.http.jetty" version="0.0.0"/>
      <unit id="org.eclipse.equinox.http.registry" version="0.0.0"/>
      <unit id="org.eclipse.equinox.http.servlet" version="0.0.0"/>
      <unit id="org.eclipse.equinox.io" version="0.0.0"/>
      <unit id="org.eclipse.equinox.jsp.jasper" version="0.0.0"/>
      <unit id="org.eclipse.equinox.jsp.jasper.registry" version="0.0.0"/>
      <unit id="org.eclipse.equinox.launcher" version="0.0.0"/>
      <unit id="org.eclipse.equinox.log.stream" version="0.0.0"/>
      <unit id="org.eclipse.equinox.metatype" version="0.0.0"/>
      <unit id="org.eclipse.equinox.preferences" version="0.0.0"/>
      <unit id="org.eclipse.equinox.region" version="0.0.0"/>
      <unit id="org.eclipse.equinox.registry" version="0.0.0"/>
      <unit id="org.eclipse.equinox.supplement" version="0.0.0"/>
      <unit id="org.eclipse.equinox.transforms.hook" version="0.0.0"/>
      <unit id="org.eclipse.equinox.transforms.xslt" version="0.0.0"/>
      <unit id="org.eclipse.equinox.useradmin" version="0.0.0"/>
      <unit id="org.eclipse.equinox.util" version="0.0.0"/>
      <unit id="org.eclipse.equinox.weaving.caching" version="0.0.0"/>
      <unit id="org.eclipse.equinox.weaving.caching.j9" version="0.0.0"/>
      <unit id="org.eclipse.equinox.weaving.hook" version="0.0.0"/>
      <unit id="org.eclipse.equinox.wireadmin" version="0.0.0"/>
      <unit id="org.eclipse.jetty.continuation" version="0.0.0"/>
      <unit id="org.eclipse.jetty.http" version="0.0.0"/>
      <unit id="org.eclipse.jetty.io" version="0.0.0"/>
      <unit id="org.eclipse.jetty.security" version="0.0.0"/>
      <unit id="org.eclipse.jetty.server" version="0.0.0"/>
      <unit id="org.eclipse.jetty.servlet" version="0.0.0"/>
      <unit id="org.eclipse.jetty.util" version="0.0.0"/>
      <unit id="org.eclipse.jetty.util.ajax" version="0.0.0"/>
      <unit id="org.eclipse.kura.ai.triton.server" version="0.0.0"/>
      <unit id="org.eclipse.kura.api" version="0.0.0"/>
      <unit id="org.eclipse.kura.api.source" version="0.0.0"/>
      <unit id="org.eclipse.kura.asset.cloudlet.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.asset.helper.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.asset.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.ble.eddystone.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.ble.ibeacon.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.ble.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.broker.artemis.core" version="0.0.0"/>
      <unit id="org.eclipse.kura.broker.artemis.simple.mqtt" version="0.0.0"/>
      <unit id="org.eclipse.kura.broker.artemis.xml" version="0.0.0"/>
      <unit id="org.eclipse.kura.camel" version="0.0.0"/>
      <unit id="org.eclipse.kura.camel.cloud.factory" version="0.0.0"/>
      <unit id="org.eclipse.kura.camel.sun.misc" version="0.0.0"/>
      <unit id="org.eclipse.kura.camel.xml" version="0.0.0"/>
      <unit id="org.eclipse.kura.cloudconnection.eclipseiot.mqtt.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.cloudconnection.raw.mqtt.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.configuration.change.manager" version="0.0.0"/>
      <unit id="org.eclipse.kura.container.orchestration.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.container.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.core" version="0.0.0"/>
      <unit id="org.eclipse.kura.core.certificates" version="0.0.0"/>
      <unit id="org.eclipse.kura.core.cloud" version="0.0.0"/>
      <unit id="org.eclipse.kura.core.comm" version="0.0.0"/>
      <unit id="org.eclipse.kura.core.configuration" version="0.0.0"/>
      <unit id="org.eclipse.kura.core.crypto" version="0.0.0"/>
      <unit id="org.eclipse.kura.core.deployment" version="0.0.0"/>
      <unit id="org.eclipse.kura.core.inventory" version="0.0.0"/>
      <unit id="org.eclipse.kura.core.keystore" version="0.0.0"/>
      <unit id="org.eclipse.kura.core.net" version="0.0.0"/>
      <unit id="org.eclipse.kura.core.provisioning" version="0.0.0"/>
      <unit id="org.eclipse.kura.core.status" version="0.0.0"/>
      <unit id="org.eclipse.kura.core.system" version="0.0.0"/>
      <unit id="org.eclipse.kura.core.tamper.detection" version="0.0.0"/>
      <unit id="org.eclipse.kura.core.testutil" version="0.0.0"/>
      <unit id="org.eclipse.kura.deployment.agent" version="0.0.0"/>
      <unit id="org.eclipse.kura.driver.ble.sensortag.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.driver.block" version="0.0.0"/>
      <unit id="org.eclipse.kura.driver.eddystone.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.driver.gpio.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.driver.helper.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.driver.ibeacon.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.driver.opcua.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.driver.s7plc.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.emulator" version="0.0.0"/>
      <unit id="org.eclipse.kura.emulator.clock" version="0.0.0"/>
      <unit id="org.eclipse.kura.emulator.gpio" version="0.0.0"/>
      <unit id="org.eclipse.kura.emulator.net" version="0.0.0"/>
      <unit id="org.eclipse.kura.emulator.position" version="0.0.0"/>
      <unit id="org.eclipse.kura.emulator.usb" version="0.0.0"/>
      <unit id="org.eclipse.kura.emulator.watchdog" version="0.0.0"/>
      <unit id="org.eclipse.kura.event.publisher" version="0.0.0"/>
      <unit id="org.eclipse.kura.hook.file.move.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.http.server.manager" version="0.0.0"/>
      <unit id="org.eclipse.kura.jetty.customizer" version="0.0.0"/>
      <unit id="org.eclipse.kura.json.marshaller.unmarshaller.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.linux.bluetooth" version="0.0.0"/>
      <unit id="org.eclipse.kura.linux.clock" version="0.0.0"/>
      <unit id="org.eclipse.kura.linux.command" version="0.0.0"/>
      <unit id="org.eclipse.kura.linux.debian.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.linux.gpio" version="0.0.0"/>
      <unit id="org.eclipse.kura.linux.net" version="0.0.0"/>
      <unit id="org.eclipse.kura.linux.position" version="0.0.0"/>
      <unit id="org.eclipse.kura.linux.redhat.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.linux.systemd.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.linux.usb" version="0.0.0"/>
      <unit id="org.eclipse.kura.linux.watchdog" version="0.0.0"/>
      <unit id="org.eclipse.kura.localization" version="0.0.0"/>
      <unit id="org.eclipse.kura.localization.resources" version="0.0.0"/>
      <unit id="org.eclipse.kura.misc.cloudcat" version="0.0.0"/>
      <unit id="org.eclipse.kura.net.admin" version="0.0.0"/>
      <unit id="org.eclipse.kura.protocol.can" version="0.0.0"/>
      <unit id="org.eclipse.kura.request.handler.jaxrs" version="0.0.0"/>
      <unit id="org.eclipse.kura.rest.asset.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.rest.configuration.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.rest.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.rest.wire.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.sun.misc" version="0.0.0"/>
      <unit id="org.eclipse.kura.useradmin.store" version="0.0.0"/>
      <unit id="org.eclipse.kura.util" version="0.0.0"/>
      <unit id="org.eclipse.kura.util.wire.test" version="0.0.0"/>
      <unit id="org.eclipse.kura.web2" version="0.0.0"/>
      <unit id="org.eclipse.kura.wire.ai.component.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.wire.component.conditional.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.wire.component.join.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.wire.component.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.wire.db.component.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.wire.h2db.component.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.wire.helper.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.wire.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.wire.script.filter.provider" version="0.0.0"/>
      <unit id="org.eclipse.kura.xml.marshaller.unmarshaller.provider" version="0.0.0"/>
      <unit id="org.eclipse.osgi" version="0.0.0"/>
      <unit id="org.eclipse.osgi.services" version="0.0.0"/>
      <unit id="org.eclipse.osgi.util" version="0.0.0"/>
      <unit id="org.eclipse.soda.dk.comm" version="0.0.0"/>
      <unit id="org.hamcrest" version="0.0.0"/>
      <unit id="org.hamcrest.core" version="0.0.0"/>
      <unit id="org.hamcrest.integration" version="0.0.0"/>
      <unit id="org.hamcrest.library" version="0.0.0"/>
      <unit id="org.hamcrest.text" version="0.0.0"/>
      <unit id="org.jboss.logging.jboss-logging" version="0.0.0"/>
      <unit id="org.json" version="0.0.0"/>
      <unit id="org.junit" version="0.0.0"/>
      <unit id="org.knowhowlab.osgi.monitoradmin" version="0.0.0"/>
      <unit id="org.mockito.mockito-core" version="0.0.0"/>
      <unit id="org.moka7" version="0.0.0"/>
      <unit id="org.objenesis" version="0.0.0"/>
      <unit id="org.tigris.mtoolkit.iagent.rpc" version="0.0.0"/>
      <unit id="org.usb4java" version="0.0.0"/>
      <unit id="osgi.annotation" version="0.0.0"/>
      <unit id="slf4j.api" version="0.0.0"/>
      <unit id="usb4java-javax" version="0.0.0"/>
      <unit id="libsocket-can-osgi" version="0.0.0"/>
    </location>
  </locations>
</target>