name: Version uptick automation

on:
  workflow_dispatch:
    inputs:
        target_branch:
          type: string
          default: 'master'
          required: true

jobs:
  uptick:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.inputs.target_branch }}
        path: ./repo

    - name: Verify root directory content
      run: ls -la
      shell: bash

    - name: Verify repo directory content
      run: ls -la ./repo
      shell: bash
